* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00aaff;
}

/* Hero section */
.hero {
  text-align: center;
  padding: 80px 20px 60px;
}

.hero h1 {
  font-size: 50px;
  font-weight: 600;

}

.hero span {
  font-weight: 700;
}

/* Work section */
.work {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat
  gap: 40px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 15px 15px 5px;
}

.card p {
  font-size: 14px;
  color: #444;
  padding: 0 15px 20px;
  line-height: 1.5;
}

/* Footer */
.footer {
  background-color: #111;
  padding: 25px 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
} 

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}
